.lab {
	float: left;
}

.error {
	color: #D44950;
	display:inline;
	margin-left:20px;
}

input {
	margin-bottom: 20px;
	
}


label{
	width: 200px;
}

#main{
	border:1px solid black;
}

.buttonsBar {
	text-align: center;
}