
.myButton {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: #ffffff;
	padding: 2px 15px 2px 15px;
	margin: 5px;
}

a>.myButton {
	text-decoration: none;
}
a:visited .myButton{
	color: black;
}	

#main {
	display:table;
	padding: 30px;
}

.buttonsBar {
	margin-top:20px;
}
